body {
    font-family: 'Nyasha Sans';
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

@media (max-width:900px) {}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.btn {
    margin-left: auto;
    color: #000;
    font-family: Nyasha Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 2px solid #000;
    background: var(--yellow, #FFE249);
    padding: 16px 32px;
}

.nav-link {
    color: #000;
    font-family: Nyasha Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (max-width:900px) {
        display: none;
    }
}

.burger {
    display: none;

    @media (max-width:900px) {
        display: block;
    }
}